<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>parallax</title>
  <link rel="shortcut icon" href="/img/logo.png" type="image/x-icon">
  <link href="https://cdn.jsdelivr.net/npm/remixicon@3.5.0/fonts/remixicon.css" rel="stylesheet">
  <link rel='stylesheet' href='https://slater.app/10324/23333.css'>
  <link rel="stylesheet" href="/index.css">
</head>

<body>


  <div class="parallax">
    <section class="parallax__header">
      <div class="parallax__visuals">
        <div class="parallax__black-line-overflow"></div>
        <div data-parallax-layers class="parallax__layers">
          <img
            src="https://cdn.prod.website-files.com/671752cd4027f01b1b8f1c7f/6717795be09b462b2e8ebf71_osmo-parallax-layer-3.webp"
            loading="eager" width="800" data-parallax-layer="1" alt="" class="parallax__layer-img">
          <img
            src="https://cdn.prod.website-files.com/671752cd4027f01b1b8f1c7f/6717795b4d5ac529e7d3a562_osmo-parallax-layer-2.webp"
            loading="eager" width="800" data-parallax-layer="2" alt="" class="parallax__layer-img">
          <div data-parallax-layer="3" class="parallax__layer-title">
            <h2 class="parallax__title">PARALLAX</h2>
          </div>
          <img
            src="https://cdn.prod.website-files.com/671752cd4027f01b1b8f1c7f/6717795bb5aceca85011ad83_osmo-parallax-layer-1.webp"
            loading="eager" width="800" data-parallax-layer="4" alt="" class="parallax__layer-img">
        </div>
        <div class="parallax__fade"></div>
      </div>
    </section>


    <!-- Arrow styling -->
    <div class="arrow-right">
      <a href="/login">
        <i class="ri-arrow-right-s-line"></i>
      </a>
    </div>


    <section class="parallax__content">
      <img src="/img/logo.png" alt="logo" class="logo">

      <div class="web-description">
        <h2>Experience the Art of Motion</h2>
        <p>  
          Our modern interface, enhanced by _PARALLAX_ and fluid scrolling, ensures a seamless experience  
          as you navigate through our powerful exchange system. Start swapping today and turn your coins into value !!!
        </p> <br>
       
      </div>

      <div class="social-icons">
        <a href="#" target="_blank"><i class="ri-messenger-fill"></i></a>
        <a href="#" target="_blank"><i class="ri-twitter-fill"></i></a>
        <a href="#" target="_blank"><i class="ri-instagram-fill"></i></a>
        <a href="#" target="_blank"><i class="ri-discord-fill"></i></a>
        <a href="#" target="_blank"><i class="ri-telegram-fill"></i></a>
        <a href="#" target="_blank"><i class="ri-whatsapp-fill"></i></a>
      </div>

    </section>

  </div>



  <script src="https://cdn.jsdelivr.net/npm/gsap@3.12.5/dist/gsap.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/gsap@3.12.5/dist/ScrollTrigger.min.js"></script>
  <script src="https://unpkg.com/lenis@1.1.14/dist/lenis.min.js"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/gsap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/ScrollToPlugin.min.js"></script>

  <script src="/index.js"></script>

</body>

</html>