:root {
    --smoky-black1: hsl(0, 0%, 7%);
    --smoky-black2: hsl(240, 2%, 13%);
    --white1: hsl(0, 0%, 100%);
    --gray: hsla(0, 0%, 84%, 0.7);
    --active-icon-bg: #5e6dcd;
    --box-shadow: 0 10px 50px rgba(94, 109, 205, 0.5);
    --border-color: rgba(255, 255, 255, 0.1);

    --eerie-black1: hsl(240, 2%, 13%);
    --eerie-black2: hsl(240, 2%, 12%);
    --eerie-black3: hsl(0, 0%, 7%);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #222;
    font-family: sans-serif;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    padding: 10px;
}

.container {
    background-color: #333;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    max-width: 80%;
    width: 400px;
}

.payment-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}


/* img swap  */

.image-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

.image {
    width: 60px;
    height: auto;
    cursor: pointer;
    border: 3px solid var(--active-icon-bg);
    border-radius: 50px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
    transition: transform 0.5s ease-in-out;
}

.image:hover {
    border: 3px solid var(--gray);
    transform: scale(0.9); /* Shrinks the image on hover */
}


.center-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.center-icon i {
    font-size: 1.5em;
    color: var(--white1);
}



.payment-item {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    background-color: #444;
    padding: 15px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
}

.hold{
    display: flex;
    justify-content: space-between;
}

.hold {
    color: rgb(235, 116, 116);
    font-size: 20px;
}
@keyframes zoomEffect {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.6);
    }
    100% {
        transform: scale(1);
    }
}

.hold i {
    animation: zoomEffect 2s infinite ease-in-out;
}





.payment-item p{
    line-height: 25px;
    font-size: 16px;
}

.amount, .my-side {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    width: 100%;
}

.my-side{
    display: flex;
}

.mugu, .me {
    gap: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.email{
    font-size: 12px;
    text-decoration: underline;
}
.my-side .mgbada{
    color: var(--active-icon-bg);
}

.content {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 100%;
}

button {
    font-size: 15px;
    cursor: pointer;
    border-radius: 5px;
    padding: 10px;
    border: none;
    background: var(--active-icon-bg);
    color: var(--white1);
    width: 80%;
    transition: transform 0.5s ease, background 0.5s ease;
}

button:hover {
    background: rgb(109, 128, 220);
    transform: scale(1.1); /* Slight zoom effect */
}

.bck-home {
    cursor: pointer;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border: none;
    background: var(--active-icon-bg);
    width: 20%;
    transition: transform 0.5s ease, background 0.5s ease;
}

.bck-home:hover {
    background: rgb(109, 128, 220);
    transform: scale(1.1); /* Slight zoom effect */
}

.bck-home a {
    color: var(--white1);
    text-decoration: none;
    transition: transform 0.3s ease;
    font-size: 15px;
}

.bck-home:hover a {
    transform: scale(0.9); /* Zoom out text effect */
}

button:hover {
    transform: scale(0.9); /* Zoom out text effect */
}







/* MY MEDIA QUERY  */
@media (max-width: 1000px) {
    body {
        margin-top: 3em;
        width: 100%;
        min-height: 100%;
        padding: 10px;
    }
    
    .container {
        background-color: #333;
        padding: 20px;
        padding-bottom: 30px;
        border-radius: 15px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
        max-width: 95%;
    }
    
}